.btn {
	display: inline-block;
	background-color: #222;
	cursor: pointer;
	vertical-align: middle;
	padding: 0 25px;
	margin: 0 5px;
}

.btn.multiple:after {
	content: "▾";
	font-size: 1.2em;
	float: right;
	margin-left: 10px;
}

.btn-select-true {
	background-color: #222;
}

.btn-select-false {
	background-color: transparent;
}