.chart {
  position: relative;
  width: 100%;
  padding-top: 60px;
}

	.svgContainer {
		position: absolute;
		top: 45px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}

		#percentage {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}