.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node.controller {
  fill: #87C338;
}

.controller {
  color: #87C338;
}

.node.filter {
  fill: #3F447E;
}

.filter {
  color: #3F447E;
}

.node.factory {
  fill: #F05B29;
}

.factory {
  color: #F05B29;
}

.node.directive {
  fill: #3A015B;
}

.directive {
  color: #3A015B;
}

.node.angular {
  fill: #DF0400;
}

.angular {
  color: #DF0400;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
  color: #d62728;
}

.link--target {
  stroke: #2ca02c;
  color: #2ca02c;
}