.filterView {
	display: inline-block;
	position: fixed;
	top: 45px;
	bottom: 0;
	padding: 5px;
	overflow: auto;
	border-right: 2px solid #D4D4D4;
	max-width: 20%;
	z-index: 90;
}

	.filterView input {
		height: 35px;
		color: #444;
		background-color: #FAFAFA;
		border: 1px solid #444;
		border-radius: 3px;
		max-width: 99%;
	}

	.filterView ul {
		margin-left: 5px;
		margin-top: 10px;
	}

	.filterView ul li {
		cursor: pointer;
		background-color: #FAFAFA;
		border-radius: 3px;
		margin: 2px;
		padding: 5px;
	}

	.filterView ul li:hover, .filterView ul li.hover, .filterView ul li.selected {
		background-color: #F0F0F0;
	}