body {
	font-family: sans-serif;
	font-size: 12px;
	background-color: #FAFAFA;
}

body {
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}

body.on {
	background-color: #FAFAFA;
}
body.off {
	background-color: #333;
}