.onoffswitch {
    height: 32px;
    width: 32px;
    float: right;
    margin-right: 25px;
    margin-top: 3px;
    cursor: pointer;
    background-repeat: no-repeat;
}
.onoffswitch.on {
    background-image: url(../assets/img/lightOn.png);
}
.onoffswitch.off {
    background-image: url(../assets/img/lightOff.png);
}