<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="<%= description %>"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Draw <%= title %></title>
  </head>
  <body>

    <div class="chart"></div>
    <div class="legend">
      <h1>Legend</h1>
      <div class="link--target">Used by</div>
      <div class="link--source">Depends on</div>
      <div class="angularjsLegend <%= type %>">
        <h2>AngularJs</h2>
        <div class="angular">AngularJs class</div>
        <div class="directive">Directive</div>
        <div class="controller">Controller</div>
        <div class="factory">Service</div>
        <div class="filter">Filter</div>
      </div>
    </div>

    <footer>Generated in <%= timeGeneration %>msc with &#9829; by <a href="https://github.com/manland/draw-my-project">Draw my project</a></footer>

    <link rel="stylesheet" type="text/css" href="<%= cssFileName %>">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="<%= jsFileName %>"></script>

  </body>
</html>  