/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/******************************************************
* MAIN
*******************************************************/

body {
  font-family: sans-serif;
  font-size: 12px;
  background-color: #FAFAFA;
}

a {
  color: #fff;
}

/******************************************************
* HEADER
*******************************************************/

header {
  height: 40px;
  color: #fff;
  background-color: #444;
  border-bottom: 5px solid #D4D4D4;
  padding-left: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;
  font-size: 1.5em;
}

header a {
  text-decoration: none;
}

header .btn, header .title {
  line-height: 40px;
}

header .btn + .btn + .btn {
  float: right;
}

header .btn {
  font-size: 0.8em;
  padding: 0 1%;
}

.logo {
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.title {
  display: inline-block;
  vertical-align: middle;
  padding-right: 40px;
  padding-left: 10px;
  color: #fff;
}

/******************************************************
* BUTTON
*******************************************************/

.btn {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 25px;
  margin: 0 5px;
  text-decoration: none;
  color: inherit;
}

.btn:hover {
  background-color: #222;
}

/******************************************************
* CONTENT
*******************************************************/

.main {
  padding-top: 40px;
}

section {
  padding: 10px 20px;
}

p {
  font-size: 1.6em;
  padding: 10px;
  margin: 20px;
  background-color: #ddd;
  text-align: center;
  border-radius: 5px;
  line-height: 1.15em;
}

p.min {
  display: inline-block;
  width: 42%;
  vertical-align: middle;
}

div.min {
  display: inline-block;
  width: 42%;
  vertical-align: middle;
  background-color: #ddd;
  padding: 10px;
  margin: 20px;
}

code, quote {
  border: 1px solid #BBB;
  background-color: #DDD;
  border-radius: 3px;
  line-height: 1.2em;
}

code {
  display: block;
  margin: 10px;
  padding: 10px;
}

h1 {
  border-bottom: 1px solid #444;
  font-size: 2.2em;
  margin: 20px 0;
}

h2 {
  font-size: 2.2em;
  margin: 20px 0;
}

section img {
  max-width: 42%;
  min-width: 200px;
  vertical-align: middle;
  -moz-box-shadow: 5px 5px 5px 0px #656565;
  -webkit-box-shadow: 5px 5px 5px 0px #656565;
  -o-box-shadow: 5px 5px 5px 0px #656565;
  box-shadow: 5px 5px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.centerImg {
  text-align: center;
}

.centerImg img {
  margin: 10px 1%;
}

ul {
  margin: 20px;
  padding: 10px;
  text-align: left;
}

li {
  list-style-type: disc;
  font-size: 1.6em;
}

/******************************************************
* SHOWCASE
*******************************************************/

.showcase {
  position: relative;
  width: 40%;
}

.screenshot {
  max-width: none;
  width: 100%;
}

.showcase .logo {
  width: 64px;
  height: auto;
  min-width: 64px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: none;
}

.showcase .title {
  color: #000;
  font-size: 1.6em;
  padding: 0 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.showcase .description {
  text-align: left;
}

.showcase .links {
  position: absolute;
  bottom: 12px;
  right: 0;
  left: 0;
  text-align: center;
  background-color: #444;
  height: 30px;
  border-radius: 0 0 3px 3px;
  border-top: 3px solid #D3D3D3;
}

.showcase .links .btn {
  color: #fff;
  line-height: 30px;
}

/******************************************************
* FOOTER
*******************************************************/

footer {
  position: fixed;
  bottom: 2px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: #666;
}

footer a {
  color: inherit;
}